<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CrawlWave.Scheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CrawlWave.ClientScheduler.CrawlWave.Server.CrawlWaveServer" value="http://195.251.252.44/CrawlWave.Server/CrawlWaveServer.asmx" />
  </appSettings>
  <microsoft.web.services2>
    <diagnostics />
  </microsoft.web.services2>
  <applicationSettings>
    <CrawlWave.Scheduler.Properties.Settings>
      <setting name="CrawlWave_Scheduler_CrawlWave_Server_CrawlWaveServer"
        serializeAs="String">
        <value>http://localhost/CrawlWave.Server/CrawlWaveServer.asmx</value>
      </setting>
    </CrawlWave.Scheduler.Properties.Settings>
  </applicationSettings>
</configuration>