<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="CrawlWave.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<microsoft.web.services2>
		<diagnostics/>
	</microsoft.web.services2>
	<appSettings>
		<add key="CrawlWave.Client.CrawlWave.Server.CrawlWaveServer" value="http://195.251.252.39/CrawlWave.Server/CrawlWaveServer.asmx"/>
	</appSettings>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown
		   mode="Singleton"
		   type="CrawlWave.Client.Controller, CrawlWave.Client"
		   objectUri="Controller.rem"
  />
			</service>
			<channels>
				<channel ref="tcp" port="15460" name="UIChannel"/>
			</channels>
		</application>
	</system.runtime.remoting>
	<applicationSettings>
		<CrawlWave.Client.Properties.Settings>
			<setting name="CrawlWave_Client_CrawlWave_Server_CrawlWaveServer"
			  serializeAs="String">
				<value>http://localhost/CrawlWave.Server/CrawlWaveServer.asmx</value>
			</setting>
		</CrawlWave.Client.Properties.Settings>
	</applicationSettings>
</configuration>
