<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrawlWave.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CrawlWave.Service.Properties.Settings>
            <setting name="DataFilesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="SQLLogin" serializeAs="String">
                <value>cwuser</value>
            </setting>
            <setting name="SQLPass" serializeAs="String">
                <value>cwpass</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DBLogOptions" serializeAs="String">
                <value>2047</value>
            </setting>
            <setting name="RemotingPort" serializeAs="String">
                <value>15461</value>
            </setting>
        </CrawlWave.Service.Properties.Settings>
    </applicationSettings>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown
				   type="CrawlWave.Service.CrawlWaveServer, CrawlWave.Service"
				   mode="Singleton"
				   objectUri="CrawlWaveServer.rem"
            />
			</service>
			<channels>
				<channel
				   ref="tcp"
				   port="15461"
				   name="ServiceChannel"
            />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>