<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
		<!--
			LogLevel sets the least level of severity an error must have to be written
			to the system event log. The available levels are:
			0: Every type of error will be written (Information, Warning, Error). (Developement Release)
			1: Only Warnings and Errors will be written to the event log. (Debug Release)
			2: Only Errors will be written to the event log. (Production Release)
			3: Nothing will be written to the event log. (Quiet Mode)
		-->
    <add key = "LogLevel" value = "2" />
		<!--
			DBLogOptions defines what types of errors or events will be stored to the
			SQL Server Database.
			0: No errors / events will be stored to the database. (Production Release)
			2047: Every type of error / event will be stored in the database. (Development Release)
		-->
    <add key = "DBLogOptions" value = "0" />
		<!--
			DataFilesPath: The path where the compressed Url Crawl data files will be stored.
			MUST contain trailing backslash.
		-->
    <add key = "DataFilesPath" value = "@DataFilesPath@" />
    <add key = "SQLServer" value = "@SQLServer@" />
    <add key = "SQLLogin" value = "@SQLLogin@" />
    <add key = "SQLPass" value = "@SQLPass@" />
  </appSettings>
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" />
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="RemoteOnly" />
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows" />
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="true" requestLimit="100" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <webServices>
      <soapExtensionTypes>
        <add type="Microsoft.Web.Services2.WebServicesExtension, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="1" group="0" />
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <microsoft.web.services2>
    <!-- <diagnostics>
      <trace enabled="true" input="C:\Documents and Settings\mod\My Documents\Visual Studio Projects\CrawlWave\CrawlWave.Server\InputTrace.webinfo" output="C:\Documents and Settings\mod\My Documents\Visual Studio Projects\CrawlWave\CrawlWave.Server\OutputTrace.webinfo" />
    </diagnostics> -->
    <filters>
      <input>
        <!--<add type="WSETracingFilter.WSEInputFilter,WSETracingFilter, Version=1.2.0.0, Culture=Neutral, PublicKeyToken=1c1f2f7177e1ff79" />
		<add type="WSEReorderPipelineFilter.WSETracingReorderInputFilter, WSETracingReorderPipelineFilter, Version=1.2.0.0, Culture=Neutral, PublicKeyToken=1c1f2f7177e1ff79"/> -->
        <add type="CrawlWave.Common.WSCFilter.WSCFUnzipFilter,CrawlWave.Common.WSCFilter" />
      </input>
      <output>
        <!-- <add type="WSETracingFilter.WSEOutputFilter,WSETracingFilter, Version=1.2.0.0, Culture=Neutral, PublicKeyToken=1c1f2f7177e1ff79" />
		<add type="WSEReorderPipelineFilter.WSETracingReorderOutputFilter, WSETracingReorderPipelineFilter, Version=1.2.0.0, Culture=Neutral, PublicKeyToken=1c1f2f7177e1ff79"/> -->
        <add type="CrawlWave.Common.WSCFilter.WSCFZipFilter,CrawlWave.Common.WSCFilter" />
      </output>
    </filters>
    <security>
      <securityTokenManager type="CrawlWave.Server.Authentication, CrawlWave.Server" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" qname="wsse:UsernameToken" />
    </security>
  </microsoft.web.services2>
</configuration>